html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  padding-top: 150px;
  padding-bottom: 0px;
}

#viewport {
  position: relative;
  width: 640px;
  height: 256px;
  overflow-x: auto;
  background-image: url("../images/water0.png");
}

#ports,
#portNames {
  display: flex;
  justify-content: space-around;
  margin-top: 96px;
}

#ports > .port {
  position: relative;
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

.portName {
  position: absolute;
  top: -25px;
  left: -43px;
  width: 150px;
  height: 32px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-align: center;
  overflow-wrap: break-word;
}

#ship {
  visibility: hidden;
  position: absolute;
  width: 128px;
  height: 64px;
  background-image: url("../images/ship.png");
}

#sailbutton {
  border: 0;
  background-color: rgb(128, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 68);
  color: white;
  padding: 10px 20px;
  width: 640px;
  font-family: "Press Start 2P", cursive;
}

#sailbutton:focus {
  background-color: rgb(0, 0, 68);
  border-bottom-width: 0;
  padding-top: 14px;
}

#sailbutton:hover {
  cursor: pointer;
}

#sailbutton:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

#message {
  border: 0;
  background-color: white;
  border-top: 3px solid black;
  color: black;
  padding: 10px 20px;
  width: 640px;
  font-family: "Press Start 2P", cursive;
}

#headsUpBoard {
  position: absolute;
  color: white;
  font-family: "Press Start 2P", cursive;
  right: 0;
  padding: 16px;
  white-space: pre-wrap;
  text-align: right;
}

form {
  top: 16px;
  left: 16px;
  position: absolute;
  border-style: dashed;
  border-color: white;
  padding: 10px;
  width: fit-content;
  background-color: rgb(128, 0, 0);
}

label {
  color: white;
  font-family: "Press Start 2P", cursive;
}

input {
  font-family: "Press Start 2P", cursive;
}

#newPortName {
  width: 200px;
}

